<h3>Relatórios
   <small>lista de todos os relatórios</small>
</h3>

<div ng-controller="RelatoriosController as ctrl" class="container-fluid">    	

   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               Relatórios |
               <small>lista de todos os relatórios!</small>
            </div>
            <div class="panel-body">

            <accordion>
               <accordion-group>
                  <accordion-heading>Pesquisa</accordion-heading>

                     <div class="panel-body">

                        <div class="row">

                           <div class="col-md-6">

                               <fieldset>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                       Placa
                                    </label>
                                    <div class="col-sm-10">
                                       <input type="text" 
                                          name="placa" 
                                          required 
                                          ng-model="pesquisa.placa" 
                                          class="form-control">                           
                                    </div>
                                 </div>
                              </fieldset>

                           </div>

                           <div class="col-md-6">                           
                             
                              <fieldset>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                        De:
                                    </label>
                                    
                                    <div class="col-sm-5">
                                       <p class="input-group">
                                          <input type="text" name="dataDe" 
                                             datepicker-popup="dd/MM/yyyy" 
                                             ng-model="pesquisa.dataDe" is-open="openedDe" 
                                             datepicker-options="dateOptions" 
                                             close-text="Fechar"
                                          class="form-control ng-dirty ng-touched ng-invalid" />
                                          <span class="input-group-btn">
                                             <button type="button" ng-click="openDe($event)" class="btn btn-default">
                                                <em class="fa fa-calendar"></em>
                                             </button>
                                          </span>
                                       </p>
                                    </div>
                                    
                                    <div class="col-sm-5">
                                       <p class="input-group">
                                          <input type="text" name="dataAte" 
                                             datepicker-popup="dd/MM/yyyy" 
                                             ng-model="pesquisa.dataAte" is-open="openedAte" 
                                             datepicker-options="dateOptions" 
                                             close-text="Fechar"
                                          class="form-control ng-dirty ng-touched ng-invalid" />
                                          <span class="input-group-btn">
                                             <button type="button" ng-click="openAte($event)" class="btn btn-default">
                                                <em class="fa fa-calendar"></em>
                                             </button>
                                          </span>
                                       </p>
                                    </div>
                                 </div>
                              </fieldset>                              

                           </div>
                        </div>

                     </div>

                  <div class="modal-footer">
                     <button ng-click="pesquisar()" class="btn btn-primary">Pesquisar</button>
                  </div>

               </accordion-group>               
            </accordion>

            <!--<div ng-repeat="(id, val) in servicosRelatorios">
               {{id}}
               <div ng-repeat="(key, value) in val">
                  {{key}}
                  <div ng-repeat="servico in value">
                     {{servico}}
                  </div>   
               </div>   
            </div>-->

            <div class="panel">
               <div class="row" ng-repeat="(id, val) in servicosRelatorios">
                  <div class="col-md-12">
                     <p class="lead bb relatorio">{{id}}</p>
                     
                     <div class="col-md-12" ng-repeat="(key, value) in val">
                        <p class="lead bb">{{key}}</p>

                        <form class="form-horizontal p-20" ng-repeat="servico in value">
                           <div class="col-sm-6">
                              {{servico.placa}}
                           </div>
                           <div class="col-sm-4">
                              {{servico.tipoServico}}
                           </div>
                           <div class="col-sm-2">
                              <strong>{{servico.valorRecebido | currency}}</strong>
                           </div>                        
                        </form>                     
                        <strong></strong>

                     </div>
                  </div>
               </div>
            </div>
         
            <div class="col-md-3" ng-repeat="total in totalServicosRelatorios">
               Total em {{total.tipo}}: {{total.valorTotal | currency }}
            </div>

				<div class="modal-footer">
               <button ng-click="gerarRelatorioServico()" class="btn btn-primary">Gerar</button>
            </div>

			</div>
         </div>
      </div>
   </div>
</div>
